<section class="secondsection rtl">
    <h3 class="title">OUR Projects</h3>
    <div class="slider">
        <div class="slides-wrapper">
            <div class="slide">
                <div class="image-wrapper">
                    <img src="./assets/images/2nd-section-slide-img.png" alt="" class="slide-img">
                </div>
                <div class="status">Completed</div>
                <h5 class="title">YIBAL KHUFF PROJECT</h5>
                <p class="description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <a href="#" class="slide-link"><button class="btn">Explore</button></a>
            </div>
            <div class="slide">
                <div class="image-wrapper">
                    <img src="./assets/images/2nd-section-slide-img2.png" alt="" class="slide-img">
                </div>
                <div class="status">Completed</div>
                <h5 class="title">RABAB HARWEEL INTEGRATED PROJECT</h5>
                <p class="description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <a href="#" class="slide-link"><button class="btn">Explore</button></a>
            </div>
            <div class="slide">
                <div class="image-wrapper">
                    <img src="./assets/images/2nd-section-slide-img3.png" alt="" class="slide-img">
                </div>
                <div class="status">Ongoing</div>
                <h5 class="title">RABAB HARWEEL INTEGRATED PROJECT</h5>
                <p class="description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <a href="#" class="slide-link"><button class="btn">Explore</button></a>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="nav-buttons">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
        <div class="arrows">
            <img draggable="false" src="./assets/images/arrow.png" alt="" class="left-arrow arrow">
            <img draggable="false" src="./assets/images/arrow.png" alt="" class="right-arrow arrow">
        </div>
    </div>
</section>