@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (max-width: 1359px) {
    .secondsection {
        width: 100%;
        height: 800px;
        position: relative;
        overflow: hidden;
        & .title {
            position: absolute;
            left: 48px;
            top: 48px;
            width: 165px;
            font-family: $lexend;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 35px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
        }
        & .slider {
            position: absolute;
            left: 48px;
            top: 45%;
            transform: translateY(-45%);
            overflow: hidden;
            & .slides-wrapper {
                display: flex;
                transition: 1s ease;
                & .slide {
                    width: 780px;
                    height: 477px;
                    margin-right: 40px;
                    position: relative;
                    overflow: hidden;
                    & .image-wrapper {
                        position: relative;
                        & .slide-img {
                            position: absolute;
                            width: 825px;
                            height: 477px;
                        }
                    }
                    & .status {
                        padding: 8px 24px;
                        position: absolute;
                        top: 24px;
                        right: 24px;
                        width: 134px;
                        height: 44px;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 28px;
                        border: 1px solid #fff;
                        border-radius: 10px;
                        color: #FFFFFF;
                    }
                    & .title {
                        position: absolute;
                        left: 24px;
                        top: auto;
                        bottom: 170px;
                        width: 327px;
                        height: fit-content;
                        margin-top: 16px;
                        font-family: $lexend;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 35px;
                        text-transform: uppercase;
                        color: #ffff;

                    }
                    & .description {
                        position: absolute;
                        bottom: 100px;
                        left: 24px;
                        margin-top: 8px;
                        width: 327px;
                        height: 57px;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #fff;
                    }
                    & .slide-link {
                        position: absolute;
                        bottom: 24px;
                        left: 24px;
                        & .btn {
                            margin-top: 8px;
                            padding: 0px 24px;
                            width: 132px;
                            height: 48px;
                            background: #019748;
                            border: 0;
                            font-family: $readex;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        & .navigation {
            width: 230px;
            height: 48px;
            position: absolute;
            bottom: 48px;
            right: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .nav-buttons {
                width: fit-content;
                display: flex;
                justify-content: space-between;
                & .nav-btn {
                    width: 16px;
                    height: 4px;
                    background: rgba(237, 207, 101, 0.5);
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .3s ease;
                    margin-right: 8px;
                }
                & .nav-btn.active {
                    width: 40px;
                    height: 4px;
                    background: #EDCF65;
                    border-radius: 5px;
                }
            }
            & .arrows {
                display: flex;
                width: 104px;
                justify-content: space-between;
                & .arrow {
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
                & .right-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .secondsection.rtl {
        & .title {
            left: auto;
            right: 48px;
            text-align: end;
        }
        & .slider {
            left: auto;
            right: 48px;
            & .slides-wrapper {
                flex-direction: row-reverse;
                & .slide {
                    margin-right: 0;
                    margin-left: 40px;
                    & .status {
                        right: auto;
                        left: 24px;
                    }
                    & .title {
                        left: auto;
                        right: 24px;
                    }
                    & .description {
                        left: auto;
                        right: 24px;
                        text-align: end;
                    }
                    & .slide-link {
                        left: auto;
                        right: 24px;
                    }
                }
            }
        }
        & .navigation {
            flex-direction: row-reverse;
            right: auto;
            left: 48px;
            & .nav-buttons {
                flex-direction: row-reverse;
            }
            & .arrows {
                flex-direction: row-reverse;
                & .arrow {
                    transform: rotate(180deg);
                }
                & .right-arrow {
                    transform: rotate(0deg);
                }
            }
        }

    }
}

@media (max-width: 992px) {
    .secondsection {
        & .slider {
            & .slides-wrapper {
                display: flex;
                transition: 1s ease;
                & .slide {
                    width: 625px;
                    height: 380px;
                    margin-right: 40px;
                    position: relative;
                    overflow: hidden;
                    & .image-wrapper {
                        position: relative;
                        & .slide-img {
                            position: absolute;
                            width: 617px;
                            height: 380px;
                        }
                    }
                }
            }
        }
        & .navigation {
            width: 230px;
            height: 48px;
            position: absolute;
            bottom: 48px;
            right: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .nav-buttons {
                width: fit-content;
                display: flex;
                justify-content: space-between;
                & .nav-btn {
                    width: 16px;
                    height: 4px;
                    background: rgba(237, 207, 101, 0.5);
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .3s ease;
                    margin-right: 8px;
                }
                & .nav-btn.active {
                    width: 40px;
                    height: 4px;
                    background: #EDCF65;
                    border-radius: 5px;
                }
            }
            & .arrows {
                display: flex;
                width: 104px;
                justify-content: space-between;
                & .arrow {
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
                & .right-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .secondsection {
        width: 100%;
        height: 800px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        & .title {
            position: unset;
            width: 110px;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
        & .slider {
            position: unset;
            transform: translateY(0);
            margin-top: 75px;
            overflow: unset;
            & .slides-wrapper {
                flex-direction: row;
                & .slide {
                    flex-shrink: 0;
                    width: 327px;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    margin-right: 40px;
                    position: relative;
                    & .image-wrapper {
                        width: 327px;
                        height: 316px;
                        overflow: hidden;
                        position: relative;
                        & .slide-img {
                            position: absolute;
                            width: 523px;
                            height: 316px;
                            top: 0px;
                            left: -156px;
                        }
                    }
                    & .title {
                        position: unset;
                        width: 327px;
                        margin-top: 16px;
                        color: #000000;
                    }
                    & .description {
                        position: unset;
                        margin-top: 8px;
                        color: #000000;
                    }
                    & .slide-link {
                        position: unset;
                        & .btn {
                            position: unset;
                        }
                    }
                }
            }
        }
        & .navigation {
            position: unset;
            width: fit-content;
            align-self: flex-end;
            margin-top: 75px;
            & .arrows {
                display: none;
            }
            & .nav-buttons {
                width: fit-content;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                & .nav-btn {
                    width: 16px;
                    height: 4px;
                    background: rgba(237, 207, 101, 0.5);
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .3s ease;
                    margin-right: 8px;
                }
                & .nav-btn.active {
                    width: 40px;
                    height: 4px;
                    background: #EDCF65;
                    border-radius: 5px;
                }
            }
        }
    }
    .secondsection.rtl {
        & .slider {
            & .slides-wrapper {
                & .slide {
                    & .slide-link {
                        align-self: flex-end;
                    }
                }
            }
        }
        & .navigation {
            align-self: flex-start;
        }
    }
}

@media (max-width: 576px) {
    .secondsection {
        height: 667px;
        & .title {
            font-size: 18px;
            line-height: 22px;
        }
        & .slider {
            margin-top: 16px;
        }
        & .navigation {
            align-self: flex-end;
            margin-top: 0;
            & .arrows {
                display: none;
            }
        }
    }
}


@media (min-width: 1360px) {
    .secondsection {
        width: $section-width;
        height: $section-height;
        position: relative;
        margin: auto;
        overflow: hidden;
        & .title {
            width: 165px;
            position: absolute;
            top: 48px;
            left: 48px;
            font-family: $lexend;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
        }
        & .slider {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 151px;
            left: 48px;
            overflow: hidden;
            & .slides-wrapper {
                display: flex;
                transition: 1s ease;
                & .slide {
                    flex-shrink: 0;
                    position: relative;
                    margin-right: 40px;
                    width: 1128px;
                    height: 589px;
                    & .slide-img {
                        width: 100%;
                        height: 100%;
                    }
                    & .status {
                        position: absolute;
                        top: 24px;
                        right: 24px;
                        border: 1px solid #fff;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 28px;
                        color: #FFFFFF;
                        padding: 8px 24px;
                    }
                    & .title {
                        width: fit-content;
                        top: auto;
                        height: fit-content;
                        position: absolute;
                        bottom: 160px;
                        left: 24px;
                        font-family: $lexend;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 40px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                    & .description {
                        position: absolute;
                        width: 576px;
                        bottom: 96px;
                        left: 24px;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                        color: #FFFFFF;
                    }
                    & .slide-link {
                        position: absolute;
                        bottom: 24px;
                        left: 24px;
                        & .btn {
                            padding: 10px 24px;
                            cursor: pointer;
                            width: 141px;
                            height: 64px;
                            border: 0;
                            background: #019748;  
                            
                            font-family: $lexend;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 25px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        & .navigation {
            width: 280px;
            height: 48px;
            position: absolute;
            bottom: 48px;
            right: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .nav-buttons {
                width: fit-content;
                display: flex;
                justify-content: space-between;
                & .nav-btn {
                    width: 16px;
                    height: 4px;
                    background: rgba(237, 207, 101, 0.5);
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .3s ease;
                    margin-right: 8px;
                }
                & .nav-btn.active {
                    width: 40px;
                    height: 4px;
                    background: #EDCF65;
                    border-radius: 5px;
                }
            }
            & .arrows {
                display: flex;
                width: 104px;
                justify-content: space-between;
                & .arrow {
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
                & .right-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .secondsection.rtl {
        & .title {
            left: auto;
            right: 48px;
            text-align: end;
        }
        & .slider {
            left: auto;
            right: 48px;
            & .slides-wrapper {
                flex-direction: row-reverse;
                & .slide {
                    margin-right: 0;
                    margin-left: 40px;
                    & .status {
                        right: auto;
                        left: 24px;
                    }
                    & .title {
                        left: auto;
                        right: 24px;
                        text-align: end;
                    }
                    & .description {
                        left: auto;
                        right: 24px;
                        text-align: end;
                    }
                    & .slide-link {
                        left: auto;
                        right: 24px;
                    }
                }
            }
        }
        & .navigation {
            flex-direction: row-reverse;
            right: auto;
            left: 48px;
            & .nav-buttons {
                flex-direction: row-reverse;
            }
            & .arrows {
                flex-direction: row-reverse;
                & .arrow {
                    transform: rotate(180deg);
                }
                & .right-arrow {
                    transform: rotate(0deg);
                }
            }
        }
    }
}