<section class="fourthsection">
    <img src="./assets/images/4th-section-bg.png" alt="" class="section-bg">
    <h3 class="title">Our Communivation teamare available to answer your questions</h3>
    <div class="form-wrapper">
        <h5 class="form-title">Send us a Message</h5>
        <p class="form-description">For any questions, please fil the form below.</p>
        <form class="form">
                <input class="name input" type="name" placeholder="Your Name" required>
                <input class="tel input" type="tel" placeholder="Telephone Number" required>
                <input class="email input" type="email" placeholder="Email Address" required>
                <textarea class="comment" name="" id="" placeholder="Your comment"></textarea>
                <button class="btn">Send</button>
            </form>
    </div>
</section>