<section class="thirdsection">
    <div class="card-wrapper">
        <div class="card">
            <img class="card-img" src="./assets/images/3rd-section-card-img.png" alt="">
            <h5 class="card-title">Join our team</h5>
            <p class="description">Every day, our multi-national team of more than 70,000 people combines passion, purpose.</p>
            <a href="#"><button class="btn">FIND OUT MORE</button></a>
        </div>
        <div class="card">
            <img class="card-img" src="./assets/images/3rd-section-card-img2.png" alt="">
            <h5 class="card-title">Join our team</h5>
            <p class="description">Every day, our multi-national team of more than 70,000 people combines passion, purpose.</p>
            <a href="#"><button class="btn">FIND OUT MORE</button></a>
        </div>
    </div>
</section>