@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

@media (max-width: 1359px) {
    .thirdsection {
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        & .card-wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            & .card {
                flex-shrink: 0;
                position: relative;
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 667px;
                overflow: hidden;
                & .card-img {
                    width: 576px;
                    height: 692px;
                    position: absolute;
                    top: 0px;
                    scale: 1;
                    transition: 1s ease;
                }
                & .card-title {
                    position: absolute;
                    bottom: 140px;
                    left: 24px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
                & .description {
                    width: 327px;
                    position: absolute;
                    bottom: 80px;
                    left: 24px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                }
                & .btn {
                    bottom: 24px;
                    left: 24px;
                    position: absolute;
                    padding: 0px 24px;
                    width: 180px;
                    height: 48px;
                    background: #019748;
                    border: 0;
                    font-family: $readex;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
                &:hover {
                    & .card-img {
                        scale: 1.1;
                        transition: 1s ease;
                    }
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .thirdsection {
        height: auto;
        & .card-wrapper {
            display: flex;
            flex-direction: column;
            & .card {
                flex-shrink: 0;
                width: 100%;
                height: 800px;
                & .card-img {
                    width: 768px;
                    height: 940px;
                    top: -60px;
                    transition: unset;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .thirdsection {
        width: 100%;
        & .card-wrapper {
            display: flex;
            flex-direction: column;
            & .card {
                flex-shrink: 0;
                position: relative;
                width: 100%;
                height: 667px;
                overflow: hidden;
                & .card-img {
                    width: 576px;
                    height: 692px;
                    position: absolute;
                    top: 0px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .thirdsection {
        width: 100%;
        & .card-wrapper {
            display: flex;
            flex-direction: column;
            & .card {
                position: relative;
                width: 100%;
                height: 667px;
                overflow: hidden;
                & .card-img {
                    width: 532px;
                    height: 667px;
                    position: absolute;
                    top: 0px;
                    left: -96px;
                }
            }
        }
    }
}

@media (min-width: 1360px) {
    .thirdsection {
        width: $section-width;
        height: 860px;
        margin: auto;
        & .card-wrapper {
            display: flex;
            & .card {
                overflow: hidden;
                position: relative;
                & .card-title {
                    position: absolute;
                    top: 610px;
                    left: 48px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 40px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    margin: 0;

                    /* White */

                    color: #FFFFFF;
                }
                & .description {
                    margin: 0;
                    position: absolute;
                    top: 674px;
                    left: 48px;
                    width: 480px;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    color: #FFFFFF;
                }
                & .btn {
                    position: absolute;
                    top: 748px;
                    left: 48px;
                    padding: 10px 24px;
                    width: 213px;
                    height: 64px;
                    background: #019748;
                    cursor: pointer;
                    border: 0;
                    font-family: $lexend;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                }
                & .card-img {
                    scale: 1;
                    transition: 1s ease;
                }
                &:hover {
                    & .card-img {
                        scale: 1.1;
                        transition: 1s ease;
                    }
                }
            }
        }
    }
}