<section class="firstsection">
    <img class="section-bg" src="./assets/images/1st-section-bg.png" alt="">
    <h3 class="title">Mega Projects</h3>
    <p class="description">Petroleum Development Oman Services (PDO-S) L.L.C is a Limited Liability Subsidiary Company of PDO. It was established in 2021 to commercialise PDO's strong technical capabilities, inherent capacity and competitive edge in niche areas such as EOR, Geo-solutions, innovative technologies and others.</p>
</section>